:root {
    --color-alpha: #735F50; /* BG */
    --color-beta: #eed8b9;  /* text */
    --color-gamma: #566F96; /* BG */
    --color-delta: #8d99ce; /* text */
    --color-omega: #F7F7F7; /* text/hover */
}

/* Global */
nav ~ * {
    padding: 1rem;

}
h1, h2 {
    color: var(--color-gamma);
}
.card {
    background-color: var(--color-gamma);
    color: var(--color-beta);
    border-color: var(--color-delta);
    border-width: 3px;
    border-radius: 20px;
    padding: 1rem;
    height: 100%;
}
.card p {
    color: var(--color-omega);
}

/* Nav */
#nav-logo-card {
    background-color: var(--color-beta);
    border-width: 0px;
    padding: 5px;
    border-radius: 50%;
}
#navbar {
    background-color: var(--color-alpha);;
}
.nav-logo {
    width: 30px;
}
.nav-link {
    color: var(--color-beta)
}

/* Header */


/* Main */
section {
}
#contacts {
    justify-content: center;

}
#contactd2 {
    margin-bottom: 1rem;
}
#contact-cards > div {
    margin-bottom: 2rem;
}
#signsbox > div > div {
    margin-bottom: 2rem;
}
.text-center h3 {
    text-align: left;
    margin: 0.2rem 0.6rem;
}
#youtube {
    display: flex;
    justify-content: center;
}
#youtube div {
    background-color: var(--color-beta);
    border-color: var(--color-alpha);
}

/* Footer */


/* Screen Size */
@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 992px){
    
}