:root {
    
}

/* font-family: Science Gothic,  Share Tech */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Share+Tech&display=swap');

/* Header */


/* Main */
main {
    min-height: 90vh;
}

/* Footer */

