:root {
    --color-alpha: #735F50; /* BG */
    --color-beta: #eed8b9;  /* text */
    --color-gamma: #566F96; /* BG */
    --color-delta: #8d99ce; /* text */
    --color-omega: #F7F7F7; /* text/hover */
}
@keyframes fa-beat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

/* Global */
nav ~ * {
    padding: 1rem;

}
h1, h2 {
    color: var(--color-gamma);
}
.card {
    background-color: var(--color-gamma);
    color: var(--color-omega);
    border-color: var(--color-delta);
    border-width: 3px;
    border-radius: 20px;
    padding: 1rem;
    height: 100%;
}
.row {
    max-width: 350px;
    margin: auto;
}

/* Nav */
#nav-logo-card {
    background-color: var(--color-beta);
    border-width: 0px;
    padding: 5px;
    border-radius: 50%;
}
#navbar {
    background-color: var(--color-alpha);;
}
.nav-logo {
    width: 30px;
}
#navbar i {
    color: var(--color-beta);
    font-size: 1.5rem;
}
.nav-link {
    color: var(--color-beta);
    transition: all 0.3s ease;
}
.nav-link:hover {
    color: var(--color-omega);
    animation: fa-beat 1s infinite;    
}
#navbar .nav-link.active:hover {
    color: var(--color-omega);
    animation: fa-beat 1s infinite;    
}
#navbar .nav-link.active {
    color: var(--color-delta);
}

/* Main */
section {
}
#contacts {
    justify-content: center;

}
#contactd2 {
    margin-bottom: 1rem;
}
#signsbox {
    margin-bottom: 1rem;
}
#signsbox h3 {
    margin-bottom: 1rem;
    color: var(--color-beta);  
}
.text-center h3 {
    text-align: left;
    margin: 0.2rem 0.6rem;
}
.boxwidth {
    max-width: 400px;
    margin: auto;
}
#youtube {
    display: flex;
    justify-content: center;
}
#youtube div {
    background-color: var(--color-beta);
    border-color: var(--color-alpha);
}
#SYReport {
    max-width: 250px;
    margin: auto;
}

/* Footer */
footer {
    background-color: var(--color-alpha);
    color: var(--color-beta);
}
#footercon i {
    color: var(--color-beta);
    font-size: 2rem;
    transition: all 0.3s ease;
}
#socmed {
    margin: 0 auto;
    max-width: 80%;
}
#footercon i:hover {
    color: var(--color-omega);
    transition: color 0.3s ease;
    animation: fa-beat 1s infinite;
}

/* Screen Size */
@media screen and (min-width: 768px){
    .row {
        max-width: 700px;
    }
}

@media screen and (min-width: 1200px){
    .row {
        max-width: 1200px;
    }
}