:root {
    --color-alpha: #735F50;
    --color-beta: #C6B49A;
    --color-gamma: #566F96;
    --color-delta: #8DA9CE;
    --color-omega: #F7F7F7;
}

/* Header */
#logo {
    margin: 0 0.5rem;
}

/* Main */


/* Footer */


/* Screen Size */
@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 992px){
    
}