:root {
    --color-alpha: #735F50;
    --color-beta: #C6B49A;
    --color-gamma: #566F96;
    --color-delta: #8DA9CE;
    --color-omega: #F7F7F7;
}

/* Nav */
#navbar {
    background-color: var(--color-alpha);;
}
.nav-logo {
    width: 30px;
}
.nav-link {
    color: var(--color-beta)
}

/* Header */


/* Main */
section {
    margin-top: 1rem;
}
#contacts {
    justify-content: center;

}
#contactd2 {
    margin-bottom: 1rem;
}
#contact-cards > div {
    margin-bottom: 2rem;
}

/* Footer */


/* Global */
nav ~ * {
    padding: 1rem;
}
.card {

}
.row {

}

/* Screen Size */
@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 992px){
    
}